body {
    color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    background-image:url(../img/facebook.png);
    /* background-repeat: no-repeat;  */
}
h2 {
    border: bottom 2px groove #333;
}
figure {
    background-color: #f2eded;
    border: 1px solid #ccc;
    text-align: center;
}

figcaption {
    font-style: italic;
}